#======================== AI 
# openai api key
# OPENAI_API_KEY=sk-proj-................

#======================== LDAP_CONNECTION
# LDAP_HOST=ldaps://...
# LDAP_PORT=1636
# LDAP_SEARCH_DN=ou=RGY,o=DESY,c=DE
# LDAP_RESOURCE_SEARCH_DN=ou=RGY_RES,o=DESY,c=DE
# LDAP_TIMEOUT=10
# LDAP_SSL=true
# LDAP_ATTRIBUTE_USERNAME=uid
# LDAP_ATTRIBUTE_EMAIL=mail
# LDAP_ATTRIBUTE_EMPLOYEE=ou
# LDAP_ATTRIBUTE_NAME=cn
# AUTH based on resources
# LDAP_FILTER="(&(objectClass=person)(isMemberOf=CN=xa_ai,ou=group,ou=RGY_RES,o=DESY,c=DE)(isMemberOf=CN=xa_ai_perm,ou=group,ou=RGY_RES,o=DESY,c=DE)(uid=username))"
#
#  
# more examples of possible filters
# AUTH based on groups AND
# LDAP_FILTER="(&(objectClass=person)(isMemberOf=CN=group_1,ou=group,ou=RGY,o=DESY,c=DE)(isMemberOf=CN=group_2,ou=group,ou=RGY,o=DESY,c=DE)(uid=username))"
# AUTH based on groups OR
# LDAP_FILTER = "(&(objectClass=person)(|(isMemberOf=CN=group_1,ou=group,ou=RGY,o=DESY,c=DE)(isMemberOf=CN=group_2,ou=group,ou=RGY,o=DESY,c=DE))(uid=username))"
# AUTH based on groups single
# LDAP_FILTER = "(&(objectClass=person)(isMemberOf=CN=group_1,ou=group,ou=RGY,o=DESY,c=DE)(uid=username))"


#======================== ACCESS CONFIG
# API url - if XFEL_ACCESS_BASE_URL not defined the service is disabled 
# XFEL_ACCESS_BASE_URL=https://......
#
# for local instalations if XFEL_ACCESS_BASE_URL does not have valid cert
# XFEL_ACCESS_IGNORE_CERT=false
#
# API CREDENTIALS
# XFEL_ACCESS_CLIENT=0
# XFEL_ACCESS_SECRET=secretsecret
#
# XFEL specific calues
# XFEL_ACCESS_DACHS_REQUIREMENT_ID=1164
# XFEL_ACCESS_BASE_RESOURCE_NAME=xa_ai_perm
# XFEL_ACCESS_TRAINING_RESOURCE_NAME=xa_ai
#
# white list only those in whitelist will be allowed to log in, applied even if XFEL_ACCESS_BASE_URL not defined
# XFEL_ACCESS_WHITELIST=user1,user2,...

# is used as a hint for users
# XFEL_TRAINING_URL=""


#======================== USER ACCOUNT DELETION
# users can delete own acount via UI
# USER_DELETE_SELF=true
# developers can delete user accounts via console 
# USER_DELETE_CONSOLE=true

#======================== SERVER RELATED
# production
# PHP_ERRORS=0
# debug
# PHP_ERRORS="E_ALL & ~E_NOTICE & ~E_WARNING"
