<?php

$_default_gpt_model_settings = [
    'quality' => 'low', // low, medium, high, auto
    'size' => '1024x1024', //1024x1024, 1024x1536, 1536x1024, or auto
    'partial_images' => 3, // maximum number of partial image updates to generate when streaming, can be up to 3,
    'image_model' => 'gpt-image-1',

    'max_attachment_size_kb' => 5*1024, // maximum document size in KB (for the b64 encoded document)
    'attachment_types' => ['jpg', 'png', 'pdf'], //info only

];

return [
    '_defaults' => $_default_gpt_model_settings, //used for info
    
    'defaultModel' => 'gpt-4o-mini',
    'default_image_quota' => 10, //images per month; comment out for unlimited
    
    'system_models' => [
        'title_generator' => 'local-service-model',
        'prompt_improver' => 'local-service-model',
        'summarizer' => 'local-service-model',
    ],
    
    'providers' =>[
        // Later GPT models work better with the responses API
        'openai-responses' => [
            'id' => 'openai-responses',
            'active' => true,
            'api_key' => env('OPENAI_API_KEY', ''),
            'api_url' => 'https://api.openai.com/v1/responses',
            'ping_url' => 'https://api.openai.com/v1/models',
            'streaming_time_limit' => 240,
            'time_limit' => 240,            
            'models' => [
                //Service model - not using tools but sill sends data to the outside
                \App\Models\ModelConfiguration::abstractModel('openai-service-model', 'OpenAI service model') //must keep Abstract 
                    ->modelName('gpt-4o-mini')
                    ->description('Service model for title_generator, prompt_improver, summarizer')
                    ->set('streamable', true) //must be true
                    ->set('visible', false)
                    ->set('unsafe_ssl', true)
                    //->set('unsafe_ssl_host', true)
                    ->get(),
                
                //============================== normal models            
                \App\Models\ModelConfiguration::gptModel('gpt-4o-mini', 'OpenAI GPT O4 mini', $_default_gpt_model_settings)
                    ->description('A lightweight, cost-efficient multimodal model optimized for fast text and image understanding tasks.')
                    ->get(),
                
                \App\Models\ModelConfiguration::gptModel('gpt-5-mini', 'OpenAI GPT 5 mini', $_default_gpt_model_settings)
                    ->description('A compact GPT-5 variant designed for low-latency, high-throughput general reasoning and chat.')
                    ->get(),
                \App\Models\ModelConfiguration::gptModel('gpt-5', 'OpenAI GPT 5', $_default_gpt_model_settings)
                    ->description('A flagship general-purpose model offering advanced reasoning, instruction following, and multimodal capabilities.')
                    ->images(false)
                    ->get(),
                
                \App\Models\ModelConfiguration::gptModel('gpt-5.1-codex-mini', 'OpenAI GPT 5.1 codex mini', $_default_gpt_model_settings)
                    ->images(false) // no image support in 5.1-codex
                    ->get(),
                \App\Models\ModelConfiguration::gptModel('gpt-5.1-codex', 'OpenAI GPT 5.1 codex', $_default_gpt_model_settings)
                    ->images(false) // no image support in 5.1-codex
                    ->get(),
                \App\Models\ModelConfiguration::gptModel('gpt-5.1-chat-latest', 'OpenAI GPT 5.1 chat latest', $_default_gpt_model_settings)
                    ->get(),
                \App\Models\ModelConfiguration::gptModel('gpt-5.1', 'OpenAI GPT 5.1', $_default_gpt_model_settings)
                    ->get(),
                    
                //example of the same model with different tools setup
                \App\Models\ModelConfiguration::gptModel('gpt-5.2', 'OpenAI GPT 5.2', $_default_gpt_model_settings)
                    ->get(),
                \App\Models\ModelConfiguration::gptModel('gpt-5.2-q-high', 'OpenAI GPT 5.2 (img q: high)', $_default_gpt_model_settings)
                    ->modelName('gpt-5.2')
                    ->set('quality', 'high')
                    ->get(),                
                \App\Models\ModelConfiguration::gptModel('gpt-5.2-q-high(mini)', 'OpenAI GPT 5.2 (img q: high, model: mini)', $_default_gpt_model_settings)
                    ->modelName('gpt-5.2')
                    ->description('A GPT-5.2 multimodal variant configured for cost effective good quality images.')
                    ->set('quality', 'high')
                    ->set('image_model', 'gpt-image-1-mini')
                    ->get(),                    
            ]
        ],
        
        'openai-responses-local' => [
            'id' => 'openai-responses-local',
            'active' => true,
            'time_limit' => 240,
            'models' => [
                //Local service model - not using tools and keep the data inside
                \App\Models\ModelConfiguration::abstractModel('local-service-model', 'Local service model') //must keep Abstract 
                    ->set('api_url', 'https://localhost:8889/v1/responses')
                    ->description('Service model for title_generator, prompt_improver, summarizer')
                    ->set('streamable', true) //must be true
                    ->set('visible', false)
                    ->get(),            
            
                \App\Models\ModelConfiguration::abstractModel('xfel-internal-ollama-gpt-oss', 'gpt-oss-on-premise')
                    ->separator()
                    ->description('gpt OSS model host on-premise, comparable to gpt-4o-mini, and useful for summarizing sensitive information')
                    ->set('api_url', 'https://localhost:8889/v1/responses') //short host name is the one used in certificates
                    ->set('streamable', true)
                    ->set('keep_reasoning_tokens', false)
                    ->set('unsafe_ssl', true)
                    ->set('unsafe_ssl_host', true)
                    
                    ->set('enable_document_input', true)
                    ->set('max_attachment_size_kb', $_default_gpt_model_settings['max_attachment_size_kb'])
                    ->set('attachment_types', ['pdf']) //info only
                    
                    ->get(),
            ]
        ],        
        
        //openai generic protocol
        'openai' => [
            'id' => 'openai',
            'active' => true,
            'time_limit' => 240,
            'models' => [
                \App\Models\ModelConfiguration::abstractModel('xfel-internal', 'XFEL-internal')
                    ->separator()
                    ->set('api_url', 'https://localhost:8888/v1/chat/completions')
                    ->set('streamable', false)
                    ->set('keep_reasoning_tokens', false)
                    ->set('unsafe_ssl', true)
                    //->set('unsafe_ssl_host', true)
                    
                    //->set('enable_document_input', true)
                    //->set('max_attachment_size_kb', $_default_gpt_model_settings['max_attachment_size_kb'])
                    //->set('attachment_types', ['pdf']) //info only
                    
                    ->get(),
            ]
        ],

    ]
];