<?php

$_default_gpt_model_settings = [
    'quality' => 'low', // low, medium, high, auto
    'size' => '1024x1024', //1024x1024, 1024x1536, 1536x1024, or auto
    'partial_images' => 3, // maximum number of partial image updates to generate when streaming, can be up to 3,

    'max_attachment_size_kb' => 5*1024, // maximum document size in KB (for the b64 encoded document)
];

return [
    
    'defaultModel' => 'gpt-4o-mini',
    'default_image_quota' => 10, //images per month; comment out for unlimited
    
    'system_models' => [
        'title_generator' => 'gpt-4o-mini',
        'prompt_improver' => 'gpt-4o-mini',
        'summarizer' => 'gpt-4o-mini',
    ],
    
    'providers' =>[
        // Later GPT models work better with the responses API
        'openai-responses' => [
            'id' => 'openai-responses',
            'active' => true,
            'api_key' => env('OPENAI_API_KEY', ''),
            'api_url' => 'https://api.openai.com/v1/responses',
            'ping_url' => 'https://api.openai.com/v1/models',
            'streaming_time_limit' => 240,
            'time_limit' => 240,            
            'models' => [
                \App\Models\ModelConfiguration::gptModel('gpt-4o-mini', 'OpenAI GPT O4 mini', $_default_gpt_model_settings)
                    ->get(),
                
                \App\Models\ModelConfiguration::gptModel('gpt-5-mini', 'OpenAI GPT 5 mini', $_default_gpt_model_settings)
                    ->get(),
                \App\Models\ModelConfiguration::gptModel('gpt-5', 'OpenAI GPT 5', $_default_gpt_model_settings)
                    ->images(false)
                    ->get(),
                
                \App\Models\ModelConfiguration::gptModel('gpt-5.1-codex-mini', 'OpenAI GPT 5.1 mini (codex)', $_default_gpt_model_settings)
                    ->images(false) // no image support in 5.1-codex
                    ->get(),
                \App\Models\ModelConfiguration::gptModel('gpt-5.1-codex', 'OpenAI GPT 5.1 (codex)', $_default_gpt_model_settings)
                    ->images(false) // no image support in 5.1-codex
                    ->get(),
                
                \App\Models\ModelConfiguration::abstractModel('xfel-internal', 'XFEL-internal')
                    ->set('streamable', false)
                    ->set('keep_reasoning_tokens', false)
                    ->set('api_url', 'http://localhost/v1/responses')
                    ->set('unsafe_ssl', true)
                    ->get(),              
            ]
        ],
    ]
];